*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Avenir', sans-serif;
}
  
nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

nav > a {
    margin: 2% 4% 2% 0%;
    color: black;
    font-size: 2rem;
}

nav > a:hover, #contact > a:hover {
    color: black;
}

#about-me > img, #lets-chat > img, #splash > img, 
#playte > img, #on-call > img, #lineage > img, #second-cycle > img {
    width: 100%;
}

#contact > a, #contact > p {
    color: black;
    font-size: 2.5vmin;
    margin: 3% 0%;
}